/* CSS Document */
/* Base */
body {
  padding-top: 50px;
  background-color: #161193; }

h3 {
  border-bottom: #CCC solid 4px; }

h1 {
  text-align: center;
  color: #161193;
  background-color: white;
  padding: 5px;
  font-weight: 800;
  text-align: center; }

ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 16px; }

nav ul li {
  display: inline; }

li {
  font-size: 2.3em;
  margin-left: 20px; }

nav {
  text-align: center; }

h1 a {
  color: #161193; }

h1 a:hover {
  color: #161193; }

/* Layout */
.main-nav-style a {
  font-size: .7em;
  color: white !important; }

.main-nav-style a:hover {
  font-size: .9em;
  color: white !important; }

.blue-background {
  background-color: #161193;
  padding: 20px; }

.white-background {
  background-color: white;
  height: 463px;
  padding: 20px; }

.main-border {
  border: 10px solid white; }

.align-center {
  text-align: center;
  margin: auto; }

.footer-buttons {
  float: inherit;
  margin: auto;
  margin-left: 10px; }

.center-pagincation {
  text-align: center; }

/* Module */
/* State */
/* Theme */
/* Video EMBed responsive code */
.responsive-video {
  margin: auto;
  padding: auto;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  overflow: hidden; }

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%; }

/* END OF = Video EMBed responsive code */
/* NAV BAR COLOR CHANGER */
.navbar-inverse {
  background-color: #161193; }

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: white; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #000000; }

.dropdown-menu {
  background-color: #FFFFFF; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #000000; }

.navbar-inverse {
  background-image: none; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-image: none; }

.navbar-inverse {
  border-color: #000000; }

.navbar-inverse .navbar-brand {
  color: #FFF; }

.navbar-inverse .navbar-brand:hover {
  color: #4D4D4D; }

.navbar-inverse .navbar-nav > li > a {
  color: #fff; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #161193; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #FFFFFF; }

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFFFFF; }

.dropdown-menu > li > a {
  color: #333333; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #FFFFFF; }

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #999999; }

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #FFFFFF; }

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #999999; }

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-bottom-color: #FFFFFF; }

/* END OF= nav bar css coding */
/* HAMBURGER ICON */
.icon-bar {
  background-color: #FFF !important; }

/* END OF HAMBURGER ICON */
